body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align to the top */
    min-height: 100vh;
}

.flexible {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    width: 100%;
    padding-top: 20px; /* Optional padding from the top */
}

.quiz-sec {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.question-container {
    width: 100%;
}

.question-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #CA054D;
}

.question-container p {
    font-size: 18px;
}

code {
    display: block;
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

button {
    background-color: #CA054D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #007d93;
}






/* styles.css */
/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
} */

/* #quiz-container {
    text-align: center;
    max-width: 600px;
    margin: 20px;
} */

#timer {
    font-size: 24px;
    margin-bottom: 20px;
}

#question-container {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    background-color: #CA054D;
}

