body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.flexible {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.quiz-sec {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.question-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #009FB7;
}

.question-container p {
    font-size: 18px;
}

code {
    display: block;
    background: #eee;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}

button {
    background-color: #009FB7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #007d93;
}
